[submodule "hVHDL_uart"]
	path = hVHDL_uart
	url = https://github.com/hVHDL/hVHDL_uart.git
[submodule "hVHDL_fpga_interconnect"]
	path = hVHDL_fpga_interconnect
	url = https://github.com/hVHDL/hVHDL_fpga_interconnect.git
[submodule "fpga_uart_pc_software"]
	path = fpga_uart_pc_software
	url = https://github.com/johonkanen/fpga_uart_pc_software.git
