[submodule "hVHDL_uart"]
	path = hVHDL_uart
	url = https://github.com/hVHDL/hVHDL_uart.git
[submodule "hVHDL_fpga_interconnect"]
	path = hVHDL_fpga_interconnect
	url = https://github.com/hVHDL/hVHDL_fpga_interconnect.git
[submodule "fpga_uart_pc_software"]
	path = fpga_uart_pc_software
	url = https://github.com/johonkanen/fpga_uart_pc_software.git
[submodule "vhdl_serial"]
	path = vhdl_serial
	url = https://github.com/johonkanen/vhdl_serial.git
[submodule "hw/vhdl_sources/submodules/hVHDL_memory_library"]
	path = hVHDL_memory_library
	url = https://github.com/hVHDL/hVHDL_memory_library
